In [38]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('transformed_data.csv')

In [40]:
df

,VendorPartNo,Sales Year,Make,Category,IsDevelopment,Total VIO,FirstSoldDate,vehicleMaxQty,PartsAuthority,SSF,Worldpac,PartsAuthority Sales count,SSF Sales count,WorldPac Sales count,UnitsSold360 Sales count,Total Units Sold Sales count,SalesYearRank
0,000 500 0185,2016,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,79.0,0.0,0.0,0.0,109.0,1
1,000 500 0185,2017,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,33.0,0.0,0.0,0.0,225.0,2
2,000 500 0185,2018,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,49.0,0.0,0.0,0.0,371.0,3
3,000 500 0185,2019,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,197.0,0.0,0.0,684.0,521.0,4
4,000 500 0185,2020,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,174.0,0.0,2.0,0.0,478.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23354,ZL-TO1013,2018,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,0.0,0.0,11.0,5
23355,ZL-TO1013,2019,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,363.0,313.0,402.0,6
23356,ZL-TO1013,2020,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,131.0,0.0,239.0,7
23357,ZL-VS1006,2019,Volvo,Engine,0,52689,2020-09-16,1,0,0,0,0.0,0.0,0.0,2.0,0.0,0
23358,ZL-VS1006,2020,Volvo,Engine,0,52689,2020-09-16,1,0,0,0,0.0,0.0,0.0,0.0,2.0,1

In [41]:
df.columns

Index(['VendorPartNo', 'Sales Year', 'Make', 'Category', 'IsDevelopment',
       'Total VIO', 'FirstSoldDate', 'vehicleMaxQty', 'PartsAuthority', 'SSF',
       'Worldpac', 'PartsAuthority Sales count', 'SSF Sales count',
       'WorldPac Sales count', 'UnitsSold360 Sales count',
       'Total Units Sold Sales count', 'SalesYearRank'],
      dtype='object')

In [42]:
# t = df[['Sales Year', 'Make', 'Category', 'IsDevelopment', 'VIO_US',
#        'VIO_CANADA', 'vehicleMaxQty', 'PartsAuthority Sales count', 'SSF Sales count',
#        'WorldPac Sales count', 'UnitsSold360 Sales count',
#        'Total Units Sold Sales count', 'SalesYearRank']].apply(lambda x: x.factorize()[0])
d = df.copy()
d

,VendorPartNo,Sales Year,Make,Category,IsDevelopment,Total VIO,FirstSoldDate,vehicleMaxQty,PartsAuthority,SSF,Worldpac,PartsAuthority Sales count,SSF Sales count,WorldPac Sales count,UnitsSold360 Sales count,Total Units Sold Sales count,SalesYearRank
0,000 500 0185,2016,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,79.0,0.0,0.0,0.0,109.0,1
1,000 500 0185,2017,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,33.0,0.0,0.0,0.0,225.0,2
2,000 500 0185,2018,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,49.0,0.0,0.0,0.0,371.0,3
3,000 500 0185,2019,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,197.0,0.0,0.0,684.0,521.0,4
4,000 500 0185,2020,Mercedes-Benz,Cooling,0,1798416,2016-10-07,1,1,0,1,174.0,0.0,2.0,0.0,478.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23354,ZL-TO1013,2018,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,0.0,0.0,11.0,5
23355,ZL-TO1013,2019,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,363.0,313.0,402.0,6
23356,ZL-TO1013,2020,Toyota,Engine,0,2345150,2014-10-02,1,0,0,1,0.0,0.0,131.0,0.0,239.0,7
23357,ZL-VS1006,2019,Volvo,Engine,0,52689,2020-09-16,1,0,0,0,0.0,0.0,0.0,2.0,0.0,0
23358,ZL-VS1006,2020,Volvo,Engine,0,52689,2020-09-16,1,0,0,0,0.0,0.0,0.0,0.0,2.0,1

In [43]:
x = d.pivot_table(columns='Category',index=['Make', 'Sales Year'],
values=['Total Units Sold Sales count'], aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

                     Total Units Sold Sales count                 \
Category                              Accessories    Body Brakes
Make      Sales Year
Acura     2020                                0.0     0.0    0.0
Audi      2016                                0.0  1206.0  266.0
          2017                                0.0  1503.0  307.0
          2018                                0.0  1916.0  262.0
          2019                                0.0  2183.0  584.0
...                                           ...     ...    ...
Workhorse 2016                                0.0     0.0    0.0
          2017                                0.0     0.0    0.0
          2018                                0.0     0.0    0.0
          2019                                0.0     0.0    0.0
          2020                                0.0     0.0    0.0

                                                                          \
Category             Climate Control Cooling Drivetrain & Hub Electrical
Make      Sales Year
Acura     2020                  36.0     0.0              0.0        0.0
Audi      2016                  86.0  1760.0              0.0     1076.0
          2017                 100.0  1455.0              0.0     1091.0
          2018                 101.0  1517.0              0.0     1760.0
          2019                 415.0  2748.0              0.0     1789.0
...                              ...     ...              ...        ...
Workhorse 2016                   0.0     0.0              0.0        0.0
          2017                   0.0     0.0              0.0        0.0
          2018                   0.0     0.0              0.0        0.0
          2019                   0.0     0.0              0.0        0.0
          2020                   0.0     0.0              0.0        0.0


Category              Engine Exhaust    Fuel Steering Suspension Transmission
Make      Sales Year
Acura     2020           0.0     0.0     0.0      0.0        0.0          0.0
Audi      2016        3199.0     0.0   677.0    264.0     2091.0          0.0
          2017        2586.0     0.0   532.0    417.0     2584.0          0.0
          2018        3512.0     0.0  1829.0    985.0     3632.0          0.0
          2019        4618.0     0.0  1978.0    825.0     5179.0         17.0
...                      ...     ...     ...      ...        ...          ...
Workhorse 2016         287.0     0.0     0.0      0.0        0.0          0.0
          2017         498.0     0.0     0.0      0.0        0.0          0.0
          2018         767.0     0.0     0.0      0.0        0.0          0.0
          2019        5521.0     0.0     0.0      0.0        0.0          0.0
          2020        2661.0     0.0     0.0      0.0        0.0          0.0

[210 rows x 13 columns]

In [44]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
They are independent.""" % (significance))

Chi-Square: 4915170.480686553
P-Value: 0.0
dof: 2508
Chi-Square=4915170.480687, critical value=2625.620559

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [45]:
x = d.pivot_table(columns='IsDevelopment',index=['Make', 'Sales Year'],
values=['PartsAuthority Sales count', 'SSF Sales count',
        'WorldPac Sales count', 'UnitsSold360 Sales count',
        'Total Units Sold Sales count'], aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

                     PartsAuthority Sales count        SSF Sales count         \
IsDevelopment                                 0      1               0      1
Make      Sales Year
Acura     2019                              0.0    0.0             0.0    0.0
          2020                              0.0    0.0             0.0    0.0
Audi      2016                           1767.0    0.0           310.0    0.0
          2017                           1849.0    0.0           382.0    2.0
          2018                           2373.0  124.0           480.0  108.0
...                                         ...    ...             ...    ...
Workhorse 2016                            103.0    0.0             0.0    0.0
          2017                             52.0    0.0             0.0    0.0
          2018                             34.0    0.0             0.0    0.0
          2019                            126.0    0.0             0.0    0.0
          2020                            451.0    0.0             0.0    0.0

                     Total Units Sold Sales count          \
IsDevelopment                                   0       1
Make      Sales Year
Acura     2019                                0.0     0.0
          2020                               36.0     0.0
Audi      2016                            10617.0     8.0
          2017                            10512.0    63.0
          2018                            13593.0  1921.0
...                                           ...     ...
Workhorse 2016                              287.0     0.0
          2017                              498.0     0.0
          2018                              767.0     0.0
          2019                             5521.0     0.0
          2020                             2661.0     0.0

                     UnitsSold360 Sales count      WorldPac Sales count  \
IsDevelopment                               0    1                    0
Make      Sales Year
Acura     2019                           34.0  0.0                  0.0
          2020                            0.0  0.0                  0.0
Audi      2016                            0.0  0.0               2377.0
          2017                            0.0  0.0                544.0
          2018                            0.0  0.0               1004.0
...                                       ...  ...                  ...
Workhorse 2016                            0.0  0.0                  0.0
          2017                            0.0  0.0                  0.0
          2018                            0.0  0.0                  0.0
          2019                        35442.0  0.0                 21.0
          2020                            0.0  0.0                 23.0


IsDevelopment              1
Make      Sales Year
Acura     2019           0.0
          2020           0.0
Audi      2016           0.0
          2017          39.0
          2018        1387.0
...                      ...
Workhorse 2016           0.0
          2017           0.0
          2018           0.0
          2019           0.0
          2020           0.0

[211 rows x 10 columns]

In [46]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
They are independent.""" % (significance))

Chi-Square: 6972623.074222699
P-Value: 0.0
dof: 1890
Chi-Square=6972623.074223, critical value=1992.252604

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [47]:
x = d.pivot_table(columns='SalesYearRank',index=['Category'],
values='Total Units Sold Sales count', aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

SalesYearRank,-2,-1,0,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,22
Category,,,,,,,,,,,,,,,,,,,,,
Accessories,0.000000,0.000000,0.000000,1378.000000,3667.000000,4514.000000,638.000000,83.000000,154.000000,111.000000,...,590.000000,617.000000,324.000000,389.000000,384.000000,5563.000000,4372.00000,4297.000000,3642.000000,3485.000000
Body,0.000000,698.101695,746.813559,40643.762712,72185.237288,94168.932203,109424.694915,123618.516949,128371.966102,146817.389831,...,20762.059322,14796.000000,9292.000000,7914.000000,2660.000000,38649.050847,32430.40678,32208.330508,28416.211864,23801.059322
Brakes,0.000000,0.000000,349.050847,11399.406780,24621.533898,28716.838983,28542.483051,28281.661017,26676.898305,39274.423729,...,14191.000000,3535.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
Climate Control,0.000000,0.000000,365.550847,11241.406780,16596.330508,14030.211864,21986.559322,15632.000000,13987.000000,16194.000000,...,2283.406780,2403.330508,2061.211864,1897.059322,2134.000000,3312.000000,2318.00000,1868.000000,1468.000000,592.000000
Cooling,0.000000,1572.000000,3141.101695,26766.966102,53072.533898,50914.237288,47783.262712,78608.957627,75488.923729,125159.652542,...,48475.796610,39723.601695,32359.618644,22787.000000,16573.000000,42838.000000,31307.00000,29387.000000,26820.000000,19171.000000
Drivetrain & Hub,0.000000,0.000000,0.000000,2634.000000,3548.000000,1584.000000,813.000000,384.000000,707.000000,2462.101695,...,8965.000000,6118.050847,3463.406780,1795.330508,1383.211864,1022.059322,572.00000,1717.000000,2591.000000,1927.000000
Electrical,0.000000,0.000000,0.000000,31489.355932,75686.847458,84807.313559,71390.483051,67590.415254,50991.000000,47725.000000,...,25162.000000,22267.000000,17405.000000,14755.000000,12081.000000,26540.000000,22384.00000,17464.000000,12380.000000,8247.000000
Engine,698.101695,1444.915254,1908.525424,57831.491525,115041.025424,126133.703390,121278.423729,137922.847458,105171.957627,139255.084746,...,20733.500000,15804.000000,10877.500000,6777.000000,7569.000000,10738.050847,7115.40678,5297.330508,4003.211864,3101.059322
Exhaust,0.000000,349.050847,373.406780,4645.330508,4196.211864,5582.059322,4648.000000,6065.000000,2280.000000,4880.000000,...,2230.000000,1492.000000,3405.000000,0.000000,0.000000,1164.000000,1275.00000,688.000000,1149.000000,528.000000
Fuel,0.000000,2698.500000,2323.050847,30202.559322,46895.754237,48610.881356,58923.474576,79348.313559,78843.186441,61502.652542,...,21543.500000,12456.500000,6770.000000,1334.000000,941.000000,3408.000000,2876.00000,2333.000000,2546.000000,1994.000000
Steering,349.050847,373.406780,406.330508,5189.262712,7934.466102,9582.330508,11612.211864,13915.610169,14850.906780,41677.881356,...,6413.000000,3601.000000,335.000000,341.000000,374.000000,1546.050847,1911.40678,1795.330508,1097.211864,1208.059322
Suspension,0.000000,0.000000,33.000000,19178.550847,31544.610169,34146.457627,56240.533898,54113.957627,63257.694915,68004.237288,...,24367.059322,17399.000000,10191.000000,4013.000000,3116.000000,17253.000000,15358.00000,14294.000000,9267.000000,6547.000000
Transmission,0.000000,0.000000,349.050847,13827.457627,18205.737288,17187.542373,12925.322034,16495.466102,15682.381356,13423.618644,...,5967.000000,2941.000000,1859.000000,769.000000,631.000000,7114.000000,6255.00000,5836.000000,4934.000000,4512.000000

In [48]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
They are independent.""" % (significance))

Chi-Square: 1139509.6173087973
P-Value: 0.0
dof: 288
Chi-Square=1139509.617309, critical value=328.580401

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [49]:
x = d.pivot_table(columns='SalesYearRank', index=['Make','Sales Year','Category'],
values='Total Units Sold Sales count', aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

SalesYearRank                         -2   -1    0      1      2       3   \
Make      Sales Year Category
Acura     2020       Climate Control  0.0  0.0  0.0   36.0    0.0     0.0
Audi      2016       Body             0.0  0.0  0.0   17.0  543.0     0.0
                     Brakes           0.0  0.0  0.0    0.0    6.0     0.0
                     Climate Control  0.0  0.0  0.0    0.0    0.0     0.0
                     Cooling          0.0  0.0  0.0    0.0    0.0    22.0
...                                   ...  ...  ...    ...    ...     ...
Workhorse 2016       Engine           0.0  0.0  0.0    0.0    0.0     0.0
          2017       Engine           0.0  0.0  0.0    0.0    0.0     0.0
          2018       Engine           0.0  0.0  0.0  116.0    0.0     0.0
          2019       Engine           0.0  0.0  0.0  238.0  694.0     0.0
          2020       Engine           0.0  0.0  0.0   37.0  398.0  1003.0

SalesYearRank                            4      5      6       7   ...   13  \
Make      Sales Year Category                                      ...
Acura     2020       Climate Control    0.0    0.0    0.0     0.0  ...  0.0
Audi      2016       Body               0.0    0.0  546.0   100.0  ...  0.0
                     Brakes             0.0  250.0   10.0     0.0  ...  0.0
                     Climate Control    0.0    0.0    0.0     0.0  ...  0.0
                     Cooling            0.0  357.0  126.0  1255.0  ...  0.0
...                                     ...    ...    ...     ...  ...  ...
Workhorse 2016       Engine           287.0    0.0    0.0     0.0  ...  0.0
          2017       Engine             0.0  498.0    0.0     0.0  ...  0.0
          2018       Engine             0.0    0.0  651.0     0.0  ...  0.0
          2019       Engine             0.0    0.0    0.0  4589.0  ...  0.0
          2020       Engine             0.0    0.0    0.0     0.0  ...  0.0

SalesYearRank                          14   15   16   17   18   19   20   21  \
Make      Sales Year Category
Acura     2020       Climate Control  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Audi      2016       Body             0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
                     Brakes           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
                     Climate Control  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
                     Cooling          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                   ...  ...  ...  ...  ...  ...  ...  ...
Workhorse 2016       Engine           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
          2017       Engine           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
          2018       Engine           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
          2019       Engine           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
          2020       Engine           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

SalesYearRank                          22
Make      Sales Year Category
Acura     2020       Climate Control  0.0
Audi      2016       Body             0.0
                     Brakes           0.0
                     Climate Control  0.0
                     Cooling          0.0
...                                   ...
Workhorse 2016       Engine           0.0
          2017       Engine           0.0
          2018       Engine           0.0
          2019       Engine           0.0
          2020       Engine           0.0

[1015 rows x 25 columns]

In [50]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 33738022.36807056
P-Value: 0.0
dof: 24336
Chi-Square=33738022.368071, critical value=24700.016658

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [51]:
x = df[['PartsAuthority Sales count', 'SSF Sales count',
        'WorldPac Sales count', 'UnitsSold360 Sales count',
        'Total Units Sold Sales count']]
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

,PartsAuthority Sales count,SSF Sales count,WorldPac Sales count,UnitsSold360 Sales count,Total Units Sold Sales count
0,79.0,0.0,0.0,0.0,109.0
1,33.0,0.0,0.0,0.0,225.0
2,49.0,0.0,0.0,0.0,371.0
3,197.0,0.0,0.0,684.0,521.0
4,174.0,0.0,2.0,0.0,478.0
...,...,...,...,...,...
23354,0.0,0.0,0.0,0.0,11.0
23355,0.0,0.0,363.0,313.0,402.0
23356,0.0,0.0,131.0,0.0,239.0
23357,0.0,0.0,0.0,2.0,0.0
23358,0.0,0.0,0.0,0.0,2.0

In [52]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 9089900.264058342
P-Value: 0.0
dof: 93432
Chi-Square=9089900.264058, critical value=94144.168736

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [53]:
x = df[['SalesYearRank',
        'Total Units Sold Sales count']]
x = x[x['SalesYearRank']>0]
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

       SalesYearRank  Total Units Sold Sales count
0                  1                         109.0
1                  2                         225.0
2                  3                         371.0
3                  4                         521.0
4                  5                         478.0
...              ...                           ...
23353              4                          24.0
23354              5                          11.0
23355              6                         402.0
23356              7                         239.0
23358              1                           2.0

[22866 rows x 2 columns]

In [54]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 1061105.9648269976
P-Value: 0.0
dof: 22865
Chi-Square=1061105.964827, critical value=23217.878292

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [55]:
x = d.pivot_table(columns='Category',index=['Make'],
values='Total Units Sold Sales count', aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

Category,Accessories,Body,Brakes,Climate Control,Cooling,Drivetrain & Hub,Electrical,Engine,Exhaust,Fuel,Steering,Suspension,Transmission
Make,,,,,,,,,,,,,
Acura,0.0,0.000000,0.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Audi,0.0,8535.000000,1711.000000,1982.000000,10124.000000,0.000000,7246.000000,18220.000000,0.000000,6730.000000,3359.000000,18199.000000,47.000000
Austin Healey,0.0,0.000000,0.000000,0.000000,1723.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
BMW,318.0,280334.296610,139612.000000,46920.000000,355119.296610,38036.000000,148138.415254,451308.355932,2509.000000,144588.118644,44787.000000,163291.118644,38799.000000
Cadillac,0.0,0.000000,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Chevrolet,0.0,45577.000000,0.000000,0.000000,4274.000000,3107.000000,135.000000,0.000000,0.000000,26.000000,0.000000,0.000000,0.000000
Chrysler,298.0,313.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Dodge,0.0,29.000000,0.000000,109.000000,0.000000,0.000000,0.000000,177.000000,0.000000,455.000000,0.000000,368.000000,0.000000
Ford,0.0,0.000000,0.000000,298.000000,569.000000,0.000000,34.000000,2267.000000,1311.000000,0.000000,0.000000,0.000000,0.000000
Freightliner,0.0,0.000000,7604.000000,584.000000,609.500000,0.000000,0.000000,15950.000000,0.000000,62.000000,0.000000,0.000000,3990.000000
GMC,0.0,3106.000000,0.000000,1454.000000,465.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,125.000000,0.000000
Genesis,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,6228.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Honda,0.0,0.000000,3.000000,39.000000,0.000000,0.000000,367.000000,670.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Hummer,0.0,0.000000,21.000000,3329.000000,188.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Hyundai,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,355.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Infiniti,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,349.000000,866.000000,0.000000,3447.000000,0.000000,0.000000,0.000000
Isuzu,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,204.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Jaguar,1060.0,57535.118644,273.000000,6956.059322,136682.474576,1586.000000,35567.059322,152031.296610,12782.000000,12885.059322,10065.118644,125161.059322,7447.000000
Jeep,0.0,0.000000,0.000000,136.000000,243.000000,0.000000,0.000000,230.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Kia,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1404.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Land Rover,678.0,8199.000000,21080.000000,478.000000,37699.177966,1873.059322,6277.000000,16208.000000,0.000000,9554.000000,2385.000000,1143.000000,297.000000
Lexus,0.0,0.000000,0.000000,1248.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Lincoln,0.0,0.000000,31.000000,102.000000,1907.059322,0.000000,203.000000,80.000000,0.000000,0.000000,0.000000,5312.000000,0.000000
Lotus,0.0,1882.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MG,0.0,12152.059322,2444.000000,0.000000,28330.000000,4234.059322,2615.000000,3293.000000,0.000000,3685.000000,1572.000000,9.000000,14855.000000
Mazda,12867.0,247.000000,0.000000,1728.000000,15956.000000,0.000000,1816.000000,554.000000,0.000000,0.000000,0.000000,879.000000,0.000000
Mercedes-Benz,10414.0,293090.000000,108839.000000,31697.000000,85083.500000,10987.000000,197662.000000,77052.059322,7156.000000,115063.118644,123940.000000,63319.000000,53025.059322
Mercury,0.0,347.000000,0.000000,963.000000,458.000000,0.000000,0.000000,2992.000000,0.000000,5.000000,0.000000,0.000000,5382.000000
Mini,9124.0,51994.000000,16143.000000,579.000000,23268.000000,0.000000,18366.000000,26143.059322,88.000000,16619.000000,25537.059322,8781.000000,150.000000
Mitsubishi,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,576.000000,591.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Nissan,0.0,0.000000,3.000000,0.000000,0.000000,0.000000,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Oldsmobile,0.0,1840.000000,0.000000,97.000000,295.000000,0.000000,0.000000,67.000000,0.000000,477.000000,0.000000,0.000000,0.000000
Plymouth,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,194.000000,99.000000,0.000000,10.000000,0.000000,0.000000,0.000000
Pontiac,0.0,328.000000,0.000000,909.000000,1246.000000,0.000000,517.000000,935.000000,0.000000,1026.000000,0.000000,724.000000,0.000000
Porsche,0.0,269728.118644,120183.355932,19876.059322,46138.177966,4261.000000,116650.000000,96175.237288,19358.000000,56890.237288,14424.059322,69422.177966,22492.059322
Ram,0.0,0.000000,0.000000,0.000000,17.000000,0.000000,232.000000,6873.000000,0.000000,0.000000,509.000000,0.000000,621.000000
Rolls Royce,0.0,0.000000,0.000000,0.000000,1873.059322,4126.000000,0.000000,2412.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Saab,883.0,45730.000000,0.000000,7786.000000,50778.059322,0.000000,19317.000000,14974.000000,0.000000,33270.000000,6212.000000,17854.000000,368.000000
Saturn,0.0,0.000000,0.000000,60.000000,0.000000,0.000000,0.000000,6750.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Scion,0.0,22.000000,0.000000,0.000000,17.000000,0.000000,450.000000,536.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Seat,0.0,0.000000,0.000000,0.000000,326.000000,0.000000,3390.000000,28485.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Smart,0.0,0.000000,0.000000,0.000000,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Toyota,0.0,792.000000,209.000000,0.000000,0.000000,0.000000,3952.000000,2475.000000,0.000000,0.000000,0.000000,304.000000,0.000000
Triumph,0.0,1603.000000,1364.000000,0.000000,19355.237288,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Volkswagen,593.0,110862.000000,29587.059322,57539.000000,298268.118644,1873.059322,146367.000000,246870.059322,1451.000000,145601.000000,10834.000000,98866.000000,37399.059322
Volvo,0.0,56612.000000,0.000000,3806.000000,132770.593220,1560.000000,96047.000000,69710.118644,7598.059322,124229.177966,14107.059322,93506.118644,5727.059322
Workhorse,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9734.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [56]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 4327832.001425741
P-Value: 0.0
dof: 552
Chi-Square=4327832.001426, critical value=607.765912

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [57]:
x = d.pivot_table(columns='Category',index=['PartsAuthority', 'SSF',
       'Worldpac'],
values='Total Units Sold Sales count', aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

Category                     Accessories           Body         Brakes  \
PartsAuthority SSF Worldpac
0              0   0              7066.0   79053.118644   37179.000000
                   1              2408.0   56040.059322   20856.000000
               1   0                 0.0   24423.000000   11296.118644
                   1                 0.0   75804.000000   19084.000000
1              0   0              7299.0   99571.000000  197967.000000
                   1              2587.0  186079.000000   95925.000000
               1   0              9059.0   74494.059322    4029.059322
                   1              7816.0  655393.355932   62771.237288

Category                     Climate Control        Cooling  Drivetrain & Hub  \
PartsAuthority SSF Worldpac
0              0   0             7150.059322   49332.618644       4972.000000
                   1             4102.000000   51341.059322       1868.000000
               1   0             1660.000000    4887.000000          6.000000
                   1             7869.000000   27850.000000       2842.000000
1              0   0            19112.000000  105096.415254       5173.000000
                   1           107288.000000  411639.355932      24274.118644
               1   0            10321.000000   51350.855932       4905.059322
                   1            31241.059322  552397.949153      27603.000000

Category                        Electrical         Engine       Exhaust  \
PartsAuthority SSF Worldpac
0              0   0          31739.000000   27484.296610   3076.000000
                   1          36193.000000   57368.177966  20950.000000
               1   0           4455.000000    3479.000000      0.000000
                   1          12150.000000   20535.000000   2992.000000
1              0   0          93632.059322  211707.677966   4482.000000
                   1         197207.118644  355364.559322  17807.000000
               1   0          49853.000000   91328.059322      0.000000
                   1         389280.296610  487668.415254   2946.059322

Category                              Fuel       Steering     Suspension  \
PartsAuthority SSF Worldpac
0              0   0          12794.500000    8941.000000   33438.059322
                   1          10857.000000   14607.118644   25519.000000
               1   0           9092.059322    2166.000000    8602.059322
                   1          24090.059322    9841.000000   25468.059322
1              0   0          24915.059322   25673.059322  174425.059322
                   1         144371.059322  120756.118644  202050.059322
               1   0          59202.000000   13814.000000   36539.059322
                   1         389300.974576   61933.000000  161222.118644

Category                     Transmission
PartsAuthority SSF Worldpac
0              0   0          3999.000000
                   1         10783.000000
               1   0          1366.000000
                   1         18193.059322
1              0   0         14087.059322
                   1         61585.059322
               1   0          4962.000000
                   1         75624.059322

In [58]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 1444605.4724114907
P-Value: 0.0
dof: 84
Chi-Square=1444605.472411, critical value=106.394840

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.

In [60]:
d = d.fillna(0)
x = d.pivot_table(columns=['PartsAuthority','SSF','Worldpac'], index=['VendorPartNo'] ,
values='Total Units Sold Sales count', aggfunc=np.sum)
x = x.replace(0,np.nan)
x = x.dropna(how='all')
x = x.fillna(0)
x

PartsAuthority    0                       1
SSF               0            1          0            1
Worldpac          0       1    0     1    0       1    0       1
VendorPartNo
000 500 0185    0.0     0.0  0.0   0.0  0.0  1704.0  0.0     0.0
000 500 8593    0.0     0.0  0.0   0.0  0.0   287.0  0.0     0.0
000 545 6204    0.0     0.0  0.0   0.0  0.0  4117.0  0.0     0.0
000 545 6504    0.0     0.0  0.0   0.0  0.0     0.0  0.0  1426.0
000 820 8110    0.0     0.0  0.0   0.0  0.0     0.0  0.0  2383.0
...             ...     ...  ...   ...  ...     ...  ...     ...
ZL-PC1018       0.0     0.0  0.0  32.0  0.0     0.0  0.0     0.0
ZL-TO1006       0.0  1439.0  0.0   0.0  0.0     0.0  0.0     0.0
ZL-TO1008       0.0   156.0  0.0   0.0  0.0     0.0  0.0     0.0
ZL-TO1013       0.0   692.0  0.0   0.0  0.0     0.0  0.0     0.0
ZL-VS1006       2.0     0.0  0.0   0.0  0.0     0.0  0.0     0.0

[5465 rows x 8 columns]

In [61]:
chi, pval, dof, exp = chi2_contingency(x)
print(f'Chi-Square: {chi}')
print(f'P-Value: {pval}')
print(f'dof: {dof}')

significance = 0.05

p = 1 - significance
critical_value = chi2.ppf(p, dof)

print('Chi-Square=%.6f, critical value=%.6f\n' % (chi, critical_value))
if chi > critical_value:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
3They are independent.""" % (significance))

Chi-Square: 47626430.3705645
P-Value: 0.0
dof: 38248
Chi-Square=47626430.370564, critical value=38704.066328

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.